---
# Default home page with boxes providing collection stats
layout: page
---

<div class="container">
  <!-- Row 1: Carousel and Description -->
  <div class="row mb-4">
    <div class="col-md-8">
      {% include index/carousel.html title="Sample Items" height=450 %}
    </div>
    <div class="col-md-4">
      {% include index/description.html %}
    </div>
  </div>

  <!-- Row 2: Descriptions and Time -->
  <div class="row mb-4">
    <div class="col-md-4">
      {% include index/description.html %}
    </div>
    <div class="col-md-4">
      {% include index/time.html %}
    </div>
    <div class="col-md-4">
      {% include index/description.html %}
      {% include index/time.html %}
    </div>
  </div>

  <!-- Row 3: Objects and Time -->
  <div class="row mb-4">
    <div class="col-md-4">
      {% include index/objects.html %}
    </div>
    <div class="col-md-4">
      {% include index/time.html %}
    </div>
    <div class="col-md-4">
      {% include index/objects.html %}
    </div>
  </div>

  <!-- Row 4: Full-Width Descriptions -->
  <div class="row">
    <div class="col-md-6">
      {% include index/description.html %}
    </div>
    <div class="col-md-6">
      {% include index/description.html %}
    </div>
  </div>
</div>
