---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">
  <div class="col-md-8">
    {% include index/carousel.html title="Sample Items" height=450 %}
  </div>
   <div class="col-6 col-md-4">     
      {% include index/description.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-md-4">      
      {% include index/objects.html %}
    </div>
    <div class="col-6 col-md-4">
      {% include index/time.html %}
    </div>
    <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-6">      
      {% include index/description.html %}
    </div>
    <div class="col-6">.col-6</div>
  </div>
</div>
